@media only screen and (max-width: 768px) {
    body {
        font-family: 'Dosis', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #25344D;
        color: #ffffff;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    #languageSelector {
        position: fixed;  
        top: 20px;
        right: 20px;
        z-index: 1000;    
        padding: 8px 12px;
        font-family: 'Dosis', sans-serif;
        font-size: 16px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0);  
        border: 2px solid #fff;
        border-radius: 50px;
        cursor: pointer;
        outline: none;
        text-align: center;
        transition: all 0.3s ease;
    }
    .home-collegamento {
        margin-top: 20px;
        margin-left: 30px;
    }
    .home-collegamento img {
        transition: transform 0.3s ease;
        width: 40px;
        height: 40px;
    }
    
    .home-collegamento img:hover {
        transform: scale(1.1);
    }
    
    #languageSelector:hover {
        color: #6180b6;
        border: 2px solid #6180b6;
        text-align: center;
        transition: all 0.3s ease;
    }
    option{
        color: #25344D;
    }

    body {
        background-color: #25344D;
    }
}
.container-admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.input-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #25344D;
    margin-bottom: 42px;
}
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    background-color: #25344D;
    color: white;
    transition: background-color 0.3s ease; 
}

input[type="text"]::placeholder {
    text-align: center;
    color: white; 
}

input[type="text"]:hover {
    background-color: #6180b6;
}
input[type="file"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    background-color: #25344D;
    color: white;
    transition: background-color 0.3s ease; 
}

input[type="file"]::placeholder {
    text-align: center;
    color: white; 
}

input[type="file"]:hover {
    background-color: #6180b6;
}
.btn {
    width: 200px; /* o la larghezza desiderata */
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: white;
    background-color: #466292;
    border-radius: 20px;
    transition: all 0.3s ease;
    border: 2px solid white; 
}

  .btn:hover {
    background-color: #6180b6;
    color: #fff;
    border-color: #fff; /* Aggiornato il colore del bordo al passaggio del mouse */
  }

.file-input-wrapper {
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
}

.file-label {
    display: inline-block;
    cursor: pointer;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.file-name {
    margin-left: 10px;
    font-size: 16px;
}
